.tokenomics {
    background-color: black;
    padding-top: 4em;
    padding-bottom: 4em;
    color:white;
}

.tokenomics-section h1{
    
    font-family: monospace;
    font-size:40px;
    text-align: center;
    color:pink;
}

.tokenomics-section-inner-frame {
    margin:auto;
    padding:auto;
    width: 80%;
    
}

.tokenomics-section-inner-frame-inner {
    border: 2px solid white;
    border-radius: 20px;
    display:flex;
    
}

.tokenomics-container {
    margin:auto;
    width:20%;
    padding: 1em;
    text-align: center;
}

.tokenomics-info-container {
    padding-top: 50px;
    width: 70%;
}

.tokenomics-info-container h1 {
    text-align: left !important;
    font-size:35px;
}

.tokenomics-info-container p {
    font-size:20px;
    font-family: monospace;
}


.tokenomics-info-image {
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.tokenomics-note-text-container {
    padding-top: 20px;
    text-align: center;
}

.tokenomics-note-text {
    text-decoration: none;
    color:pink;
}

.tokenomics-info-container-read-more {
    text-decoration: none;
    color:pink;
    font-family: monospace;
    font-size:18px;
}

/* Responsive */
@media (max-width: 1000px) {
    
    .tokenomics-section-inner-frame-inner {
        display: block;
    }
    .tokenomics-container {
        width:auto;
    }
    .tokenomics-info-container {
        width:auto;
    }
}
@media (max-width: 500px) {
    .tokenomics-section h1 {
        font-size: 20px; 
     }
}