.nav-bar-hamburger-icon-container {
    cursor: pointer;
    padding-top: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
}

.nav-bar-hamburger-icon {
    font-size: 2.2em !important;
    color: white;
}