/* html, body {
    background-color: #9b63cd;
} */

.navbar {
    /* height: 60px; */
    /* margin:auto; */
    padding: 1em;
    /* padding-top: 0 !important; */
    /* display: flex; */
    /* background-color: rgba(255, 255, 255, 0.281); */
    
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.navbar-inner {
    margin:auto;
    width: 90%;
    height: 100%;
    
}

.brand-image {
    height:50px;
}

.Brand {
    top:0;
    background-color: none;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
}
/* 
.Brand:hover {
    
} */

.navbar-links {
    position:relative;
    cursor: default;
    display:inline-flex;
}

.nav-bar-links-hide-in-mobile {
    padding-top: 1.2em;
    padding-right: 1.5em;
    padding-left: 2em;
}

.navbar-links a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bar-links-display-in-mobile {
    display: none;
}


.nav-bar-right {
    width: 30%;
    float: right;
    
}

.connect-wallet-button-container {
    float: right;
    /* padding: 30px; */
}

.connect-wallet-button {
    margin-right: 20px;
    background-color: #f1f1f1;
    font-weight:700;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}


/* Responsive NavBar */
@media (max-width: 900px) {
    .nav-bar-right-hide-in-mobile {
        display: none !important;
    }
    .nav-bar-right-display-in-mobile {
        display: inline-flex;
    }
}