/* html, body {
    background-color: #9b63cd;
} */

.navbar {
    height: 4em;
    /* margin:auto; */
    padding: 1em;
    /* padding-top: 0 !important; */
    /* display: flex; */
    /* background-color: rgba(255, 255, 255, 0.281); */
    
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.navbar-inner {
    margin:auto;
    width: 90%;
}

.Brand {
    border: none;
    background-color: none;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    margin:auto;
    /* padding-top: 0.2em;
    padding-left:0.5em; */
    /* float: left; */
}
/* 
.Brand:hover {
    
} */

.navbar-links {
    cursor: default;
    display:inline-flex;
}

.nav-bar-links-hide-in-mobile {
    padding-top: 1.2em;
    padding-right: 1.5em;
    padding-left: 2em;
}

.navbar-links a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bar-links-display-in-mobile {
    display: none;
}


/* Responsive NavBar */
@media (max-width: 900px) {
    .nav-bar-right-hide-in-mobile {
        display: none !important;
    }
    .nav-bar-right-display-in-mobile {
        display: inline-flex;
    }
}