.profile-pop-up-window-overlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0, 0, 0, 0.205);
}

.profile-pop-up-window {
    margin: auto;
    background-color: white;
    width: 40%;
    margin-top: 10%;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pop-up-window-inner {
    padding: 40px;
    text-align: center;
}

.profile-pop-up-window-inner h3 {
    margin:0;
}

.profile-pop-up-window-inner p {
    margin:0;
    margin-bottom: 10px;
}

.profile-pop-up-window-inner-border {
    border: 2px solid rgb(255, 192, 203);
    border-radius: 20px;
    padding: 20px;
}

.close {
    color: Black;
    float: right;
}

.close:hover {
    color: pink;
    cursor: pointer;
}

#profile-puru-image {
    height: 100px;
}

/* Mobile Responsive view */
@media (max-width: 1160px) {
    .profile-pop-up-window {
        
        width: 60%;
    }
    .profile-pop-up-window-inner {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}