.banner {
    background-color: #eeeeee;
    position: relative;
}

.banner-content-absolute-position {
    position: absolute;
    border: 2px solid green;
    top: 0;
    /* width: 99%; */
    height: 65%;
    padding-left: 10%;
    padding-right: 5%;
    display:block;
}

.banner-content-flex-container {
    display:flex;
}

.banner-text {
    color: #adff2f;
    font-size: 3.5em;
    margin: 0px;
    font-weight: 700;
}

.banner-text-small {
    color: greenyellow;
    font-size: 1.8em;
    margin: 5px;
    font-weight: 700;
}

.banner-background {
    z-index: -10;
}

.banner-content-container-one {
    z-index: 1;
    /* position: absolute; */
    width: 40%;
    /* height: 60%; */
    margin-top: 10%;
    /* display: inline-block; */
    flex-direction: column;
    text-align: left;
    border: 2px solid green;

}

.banner-content-container-two {
    z-index: 1;
    /* position: absolute; */
    width: 50%;
    /* height: 60%; */
    margin-top: 10%;
    /* display: inline-block; */
    flex-direction: column;
    text-align: center;
    border: 2px solid green;

}

.banner-shake {
    display:inline-block;
}

.banner-shake:hover {
    color:#ff1493;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(0, -1px, 0);
    }
    20%, 80% {
        transform: translate3d(0, 2px, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(0,-4px, 0);
    }
    40%, 60% {
        transform: translate3d(0, 4px, 0);
    }
}

.banner-awsd-img {
    width:40%;
    height:auto;
    margin:auto;
    display:block;
}

#banner-arrow-pointing-top-left {
    width: 7em;
    margin-left:30%;
}

.banner-text-guide {
    color: greenyellow;
    font-size: 1.8em;
    font-weight: 700;
    text-align: right;
    padding-right: 2em;
}

.banner-content-container-three {
    z-index: 1;
    /* width: 90%; */
    height: 60%;
    margin:auto;
    padding-top: 2em;
    /* display: inline-block; */
    flex-direction: column;
    text-align: left;
    border: 2px solid green;
    text-align: center;
}

.banner-all-set{
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
}



