.banner {
    background-color: black;
    padding-top: 4em;
    padding-bottom: 4em;
    color:white;
}

.banner-inner-container {
    width: 60%;
    padding: 5% 5% 5% 5%;
    margin: auto;
}

.banner-image {
    height: 10em;
}

