.aboutme {
    background-color: #eeeeee;
    padding-top: 4em;
    padding-bottom: 4em;
}

.aboutme-inner-container {
    background-color: white;
    width: 60%;
    padding: 5% 5% 5% 5%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* display:inline-block; */
}

#aboutme-sean-img {
    width: 100%;
    /* text-align: left !important; */
    display: inline-block;
}

.aboutme-inner-container-left {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 1rem;
}

.aboutme-inner-container-right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 1rem;
    text-align: center;
}

.aboutme-inner-container-right p{
    text-align: justify;
}